fastapi==0.115.2
uvicorn==0.32.0
sqlmodel==0.0.22
pydantic==2.9.2
pydantic-settings==2.6.0
psycopg-binary==3.2.3
psycopg2-binary==2.9.10
psycopg==3.2.3
python-multipart==0.0.16
python-dotenv==1.0.1
PyPDF2==3.0.1

langchain==0.3.6
langchain-openai==0.2.4
langchain-community==0.3.4
langchain-core==0.3.14

python-jose==3.3.0
requests==2.32.3
pillow==11.0.0
linkedin-api==2.3.1
asgiref==3.8.1
bs4==0.0.2